mocks/tps-mock/person/src/test/resources/informasjon/person/person.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/tjeneste/virksomhet/person/v2/informasjon" version="2.0" xmlns:informasjon="http://nav.no/tjeneste/virksomhet/person/v2/informasjon" xmlns:metadata="http://nav.no/tjeneste/virksomhet/person/v2/metadata">
  <xsd:import namespace="http://nav.no/tjeneste/virksomhet/person/v2/metadata" schemaLocation="../../metadata/metadata.xsd"/>
  <xsd:complexType name="Postnummer">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Poststed angir et postadministrativt område med en dekadisk kode (postnummer) for nummerering av navngitte, postadministrative områder&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Postnummer" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Postboksadresse">
    <xsd:complexContent>
      <xsd:extension base="informasjon:StrukturertAdresse">
        <xsd:sequence>
          <xsd:element name="postboksnummer" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Unik identifikator for postboks innen et postadministrativt område.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kjoennstyper">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Kj_c3_b8nnstyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Stedsadresse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Felles supertype til ulike fysiske adresser i norge/utland&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StrukturertAdresse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Landkoder">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Landkoder" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GeografiskAdresse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="landkode" type="informasjon:Landkoder"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Bankkonto">
    <xsd:sequence/>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Personnavn">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Skal inneholde navn på person. - Fornavn - Mellomnavn - Etternavn - Kortnavn&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="etternavn" type="informasjon:Navn"/>
      <xsd:element minOccurs="0" name="fornavn" type="informasjon:Navn"/>
      <xsd:element minOccurs="0" name="mellomnavn" type="informasjon:Navn"/>
      <xsd:element minOccurs="0" name="sammensattNavn" type="informasjon:Navn"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="StrukturertAdresse">
    <xsd:complexContent>
      <xsd:extension base="informasjon:GeografiskAdresse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="tilleggsadresse" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Navn på sted, f.eks. "Meskumski" i Re kommune.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="tilleggsadresseType" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BankkontoNorge">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bankkonto">
        <xsd:sequence>
          <xsd:element name="bankkonto" type="informasjon:Bankkontonummer"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnsvarligEnhet">
    <xsd:sequence>
      <xsd:element name="enhet" type="informasjon:Organisasjonsenhet"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="MidlertidigPostadresseUtland">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Midlertidig postadresse i utlandet. Brukes til å sende ut post..&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:MidlertidigPostadresse">
        <xsd:sequence>
          <xsd:element name="ustrukturertAdresse" type="informasjon:UstrukturertAdresse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentHarNavn">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ident" type="informasjon:NorskIdent">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identer (fnr, dnr, ...)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="personnavn" type="informasjon:Personnavn">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identens navn&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="nyGjeldendeIdent" type="informasjon:NorskIdent"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kodeverdi">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="kodeRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Valutaer">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Valutaer" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Familierelasjoner">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Familierelasjoner" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Sivilstander">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Sivilstander" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StedsadresseNorge">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Fysiske adresser i Norge. Landkoden settes lik Norge for disse adresseforekomstene.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Stedsadresse">
        <xsd:sequence>
          <xsd:element name="poststed" type="informasjon:Postnummer">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Poststed angir et postadministrativt område med en dekadisk kode (postnummer) for nummerering av navngitte, postadministrative områder&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="bolignummer" type="xsd:string"/>
          <xsd:element minOccurs="0" name="kommunenummer" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Organisasjonselement">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Et OrganisasjonsElement grupperer personressurser som jobber for NAV og poensielt flere OrganisasjonsElementer som hører inn under det aktuelle OrganisasjonsElementet. Et OrganisasjonsElement er videre superklasse for formelle organisasjonsenheter (Organisasjonsenhet). Et OrganisasjonsElement kan være et prosjekt, et team eller noe annet. OrganisasjonsElementer kan være relatert til andre OrganisasjonsElementer. Denne entiteten vil det være behov for metadata på: - endringssporing - kilde - gyldighetsperiode - bruksperiode (kanskje)&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="organisasjonselementID" type="informasjon:Identifikator">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikator innenfor eller på tvers av organisasjonsstrukturer.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Navn">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Postadressetyper">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Postadressetyper" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="MidlertidigPostadresse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Angir en adresse hvor bruker oppholder seg i en gitt periode og / eller kan motta post i en gitt periode&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="postleveringsPeriode" type="informasjon:Gyldighetsperiode"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Personstatuser">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Fra TPS. F.eks. Død, Utvandret, Bosatt&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Personstatuser" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Familierelasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="harSammeBosted" type="xsd:boolean"/>
      <xsd:element name="tilRolle" type="informasjon:Familierelasjoner"/>
      <xsd:element name="tilPerson" type="informasjon:Person"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Doedsdato">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Dato for når en gitt person døde.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="doedsdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Registrert dødsdato. Merk! xsd:date kan valgfritt returneres med eller uten tidssone av tilbyder. Dette må håndteres av konsumenter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Kjoenn">
    <xsd:sequence>
      <xsd:element name="kjoenn" type="informasjon:Kjoennstyper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sikkerhetstiltak">
    <xsd:sequence>
      <xsd:element name="sikkerhetstiltakskode" type="xsd:string"/>
      <xsd:element name="periode" type="informasjon:Periode"/>
      <xsd:element minOccurs="0" name="sikkerhetstiltaksbeskrivelse" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;En periode angis som et tidsintervall fra-og-med og til-og-med, i fortid, nåtid eller fremtid. Datatypen på attributtene er satt til datetime. Dette for å dekke ulike behov mht. "oppløsning"/granularitet på tidsangivelsen. Merk! For perioder som ikke skal ha detaljert tidsstempel, brukes ikke klokkeslettssleddet. Vær ellers oppmerksom på hva som skjer ifm. fysisk representasjon (xs:date) av klokkeslett i perioden (sommertid + 1:00)&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fom" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="tom" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Umyndiggjort">
    <xsd:sequence>
      <xsd:element name="umyndiggjort" type="xsd:boolean"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
    <xsd:attributeGroup ref="metadata:Gyldighetsperiode"/>
  </xsd:complexType>
  <xsd:complexType name="Feil">
    <xsd:sequence>
      <xsd:element name="ident" type="informasjon:NorskIdent">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identer (fnr, dnr, ...)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode for feil&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feilBeskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beskrivelse av feil&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Gyldighetsperiode">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Gyldighetsperioden angir den perioden dataene den gjelder gjaldt i den virkelige verden. fom er pålagt attributt for instanser av gyldighetsperiode.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Periode"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MidlertidigPostadresseNorge">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;En midlertidig geografisk adresse som skal brukes for utsendelser av post i en viss periode. Adressen vil være oppgitt av bruker, som også må angi tidsrommet for når denne adressen skal brukes til utsendelser. Kun en midlertidig adresse kan gjelde av gangen (gyldighetsperiode).&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:MidlertidigPostadresse">
        <xsd:sequence>
          <xsd:element name="strukturertAdresse" type="informasjon:StrukturertAdresse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Gateadresse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;En geografisk adresse som angir geografisk plassering i veiadresse form. Vil brukes om adresser i Norge.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StedsadresseNorge">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="gatenummer" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Nummerering av alle gater/veger, som sammen med kommunenummer danner en gateident som er en unik ident for gater. Se: http://www.kartverket.no/Documents/Standard/SOSI%20kap3%20Produktspesifikasjoner/FKB%204.02%202011-12-01/16-Vegnett-2011-12-01.pdf?si=F70448E07081040EBE926B848977BF4E&amp;amp;rid=635723058&amp;amp;sn=Statkart&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="gatenavn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Adressenavn er definert i matrikkelforskriften § 2 bokstav e, som navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen. Et adressenavn skal være entydig innenfor samme kommune. To gater kan således ikke ha samme navn i samme kommune. Dersom to eller flere kommuner har et felles adresseringsområde skal navnet være entydig innenfor alle de aktuelle kommunene. http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="husnummer" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Hvilket nummer i en gateadresse bygningen eller eiendommen har. Adressenummer er definert i matrikkelforskriften § 2 bokstav f som et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område. http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="husbokstav" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Husbokstav brukes i tillegg til gatenavn og -nummer for å skille seksjoner med samme adresse fra hverandre.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Statsborgerskap">
    <xsd:sequence>
      <xsd:element name="land" type="informasjon:Landkoder"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Personstatus">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;I TPS er følgende brukt: ABNR Aktivt BOSTNR ADNR Aktivt BOSA Bosatt DØD Død DØDD Død FØDR Fødselsregistrert FOSV Forsvunnet/Savnet UFUL Ufullstendig fødselsnummer UREG Uregistrert person UTAN Utgått person annullert tilgang Fnr UTPE Utgått person UTVA Utvandret&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="personstatus" type="informasjon:Personstatuser"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="UstrukturertAdresse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Svært generisk adresseentitet for å dekke behov i løsninger som ikke har modellert adresse presist. Adresselinje 1 bør inneholde gatenavn, nummer og ev. bokstav, (Kan inneholde suiteid og etasjeid for utenlandske adresser). Adresselinje 2 bør inneholde id for postadministrativt område (postnr) og poststed Adresselinje 3 bør inneholde navn på land. Merknad: Denne generelle adressestrukturen ønskes faset ut på sikt da den gir liten mulighet for å tolke/validere innholdet da det er ukjent format og innhold..&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:GeografiskAdresse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="adresselinje1" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Adresselinje 1 bør inneholde ev. co-navn, gatenavn med nummer, samt ev. bokstav, suiteid, etasjeid, eller "P.O.Box" og postboksnr&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje2" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Adresselinje 2 bør inneholde id for postadministrativt område (postnr) og poststed&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje3" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Adresselinje 3 bør inneholde navn på land.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="adresselinje4" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Organisasjonsenhet">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;En Organisasjonsenhet er en enhet som er formell i en organisasjon (f.eks. har en leder og resultatansvar). http://jira.adeo.no/browse/BEGREP-137 Enhet (Organisasjonsenhet) http://jira.adeo.no/browse/BEGREP-207 Organisasjonsenhet&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Organisasjonselement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PostboksadresseNorsk">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Postboksadresse">
        <xsd:sequence>
          <xsd:element name="poststed" type="informasjon:Postnummer"/>
          <xsd:element minOccurs="0" name="postboksanlegg" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Matrikkelnummer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="gaardsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bruksnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="festenummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="seksjonsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="undernummer" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bankkontonummer">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;&lt;span style="font-size:13pt;color:#000000;background-color:#ffffff;font-family:Arial, Helvetica, FreeSans, sans-serif;font-weight:normal;"&gt;Begrep-142 Et bankkontonummer er et nummer bestående av 11 siffer som identifiserer bank, kontoform og konto.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="bankkontonummer" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:13pt;color:#000000;background-color:#ffffff;font-family:Arial, Helvetica, FreeSans, sans-serif;font-weight:normal;"&gt;Tallkombinasjon som unikt dentifiserer en bankkonto&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="banknavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn på banken som forvalter den aktuelle bankkontoen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bruker">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Person i rollen bruker (Andre forslag: Kunde, klient, interessent )&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Person">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="foedested" type="xsd:string"/>
          <xsd:element minOccurs="0" name="gjeldendePostadresseType" type="informasjon:Postadressetyper">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Prioritert adressetype for utsending av post til bruker. Settes av produsenten basert på forretningsregler i gjeldene adressepolicy&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="harAnsvarligEnhet" type="informasjon:AnsvarligEnhet"/>
          <xsd:element minOccurs="0" name="midlertidigPostadresse" type="informasjon:MidlertidigPostadresse"/>
          <xsd:element minOccurs="0" name="umyndiggjort" type="informasjon:Umyndiggjort"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BankkontoUtland">
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bankkonto">
        <xsd:sequence>
          <xsd:element name="bankkontoUtland" type="informasjon:BankkontonummerUtland"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Diskresjonskoder">
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Diskresjonskoder" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Organisasjonsnummer">
    <xsd:restriction base="informasjon:Identifikator"/>
  </xsd:simpleType>
  <xsd:complexType name="Matrikkeladresse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Begrep 463: "Adresse som ikke er gitt offisiell adresse, og hvor matrikkelnummer brukes. Identifiseres ved help av gårdsnummer, bruksnummer og eventuelt festenummer og undernummer. Undernummer kan brukes selv om festenummer mangler (er null)." Statens kartverk, SOSI standard - generell objektkatalog versjon 4.0 Den offisielle benevnelse for hver enkel matrikkelenhet. Unikt nummer innenfor kommune som brukes til å identifisere de enkelte matrikkelenhetene. For at nummereringen skal være entydig må kommunenummeret være en del av matrikkelnummeret. http://tinglysing.no/Eiendom-og-areal/Matrikkelen/For-matrikkelforere/Veiledning-undertema/1-Innledning/2-Definisjoner/21-Definisjon-av-begreper-som-finnes-i-matrikkelen-/&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:StedsadresseNorge">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="eiendomsnavn" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Navn på eiendom eller sted.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="matrikkelnummer" type="informasjon:Matrikkelnummer">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;sammensatt egenskap som inneholder kombinasjonen gårdsnummer'/'bruksnummer. Merknad: Dette attributtet ønskes splittet i gårdsnummer og bruksnummer slik at dette blir eksplisitt. bruksnummer, festenummer, og seksjonsnummer&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Sivilstand">
    <xsd:sequence>
      <xsd:element name="sivilstand" type="informasjon:Sivilstander"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
    <xsd:attributeGroup ref="metadata:Gyldighetsperiode"/>
  </xsd:complexType>
  <xsd:complexType name="Foedselsdato">
    <xsd:sequence>
      <xsd:element name="foedselsdato" type="xsd:date"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Postadresse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;En geografisk adresse som angir hvor brev skal sendes dersom denne inneholder data. En postadresse kan være en postboks eller det kan være en annen person som skal motta post på vegne av den gitte personen. Hentes fra DSF Kan være både norsk og utenlandsk. Brukes for utsendelse av post på papirform.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ustrukturertAdresse" type="informasjon:UstrukturertAdresse"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="Bostedsadresse">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;En geografisk adresse som er knyttet til en fysisk person. Adressen angir hvor den gitte personen oppholder seg. Brukes om adresser i Norge Synonymt med arena begrep "Folkeregisteradresse" - Adresse til det stedet brukeren er bosatt etter folkeregisterloven. Kommer fra TPS og er alltid BOAD Hentes fra DSF. Fås kun om man er bosatt i Norge. Betydning for ytelsesberegninger&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="strukturertAdresse" type="informasjon:StrukturertAdresse"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="metadata:Endringssporing"/>
  </xsd:complexType>
  <xsd:complexType name="BankkontonummerUtland">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Utenlandsk bankkontonummer, se bankkontonummer.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="informasjon:Bankkontonummer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="swift" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Når du skal motta en betaling fra utlandet, må du oppgi en SWIFT-adresse. Den forteller hvilken bank du er kunde i. SWIFT-adressen er det samme som BIC (Bank Identifier Code), ABA-nummer eller Routing-nummer. Det er ikke det samme som IBAN-nummeret. Forkortelsen SWIFT: SWIFT står for Society for Worldwide Interbank Financial Telecommunication. Det er et datanettverk som utveksler betalingsdata mellom flere tusen finansforetak i drøyt 200 land. Kilde: Forenklet fremstilling fra Den danske bank&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="landkode" type="informasjon:Landkoder">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Landet bankkontoen forvaltes i. Avledes fra bankens land.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="bankkode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Bankkoden har i mange land utviklet seg til å være en viktig nøkkel som gjør det mulig for banken å sørge for rask utførelse av utbetalinger til utlandet. Bankkoden kan brukes sammen med SWIFT-adresse. Kodens format og lengde varierer mellom ulike land.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="bankadresse" type="informasjon:UstrukturertAdresse">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Kontaktadresse for en utenlandsk bank.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="valuta" type="informasjon:Valutaer">
            <xsd:annotation>
              <xsd:documentation>&lt;p&gt;Et lands myntsort.&lt;/p&gt;</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Personidenter">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Tillatte typer identer, f.eks. fødselsnummer, D-nummer, ... http://nav.no/kodeverk/Kodeverk/Personidenter&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="informasjon:Kodeverdi">
        <xsd:attribute default="http://nav.no/kodeverk/Kodeverk/Personidenter" name="kodeverksRef" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="diskresjonskode" type="informasjon:Diskresjonskoder">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="color:#000000;background-color:#ffffff;"&gt;Er det registrert en diskresjonskode på personen? "Ja/Nei" Det kan være aktuelt å registrere hvilken periode dette gjaldt -Er det registrert en diskresjonskode på personen? "Ja/Nei" Det kan være aktuelt å registrere hvilken periode dette gjaldt - enten som bruksperiode og/eller gyldighetsperiode. Dette må avklares. enten som bruksperiode og/eller gyldighetsperiode. Dette må avklares.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bankkonto" type="informasjon:Bankkonto"/>
      <xsd:element minOccurs="0" name="bostedsadresse" type="informasjon:Bostedsadresse"/>
      <xsd:element minOccurs="0" name="sivilstand" type="informasjon:Sivilstand"/>
      <xsd:element minOccurs="0" name="statsborgerskap" type="informasjon:Statsborgerskap"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="harFraRolleI" type="informasjon:Familierelasjon"/>
      <xsd:element minOccurs="0" name="ident" type="informasjon:NorskIdent"/>
      <xsd:element minOccurs="0" name="kjoenn" type="informasjon:Kjoenn"/>
      <xsd:element minOccurs="0" name="personnavn" type="informasjon:Personnavn"/>
      <xsd:element minOccurs="0" name="personstatus" type="informasjon:Personstatus"/>
      <xsd:element minOccurs="0" name="postadresse" type="informasjon:Postadresse"/>
      <xsd:element minOccurs="0" name="doedsdato" type="informasjon:Doedsdato"/>
      <xsd:element minOccurs="0" name="foedselsdato" type="informasjon:Foedselsdato"/>
      <xsd:element minOccurs="0" name="sikkerhetstiltak" type="informasjon:Sikkerhetstiltak"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NorskIdent">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Fødselsnr, SSN...&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ident" type="informasjon:Identifikator"/>
      <xsd:element name="type" type="informasjon:Personidenter"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>