person-mock/src/test/resources/person.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="person" targetNamespace="http://nav.no/tjeneste/virksomhet/person/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/person/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/person/v2" xmlns:feil="http://nav.no/tjeneste/virksomhet/person/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/person/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/person/v2/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/person/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentKjerneinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentKjerneinformasjonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKjerneinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentKjerneinformasjonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKjerneinformasjonpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="hentKjerneinformasjonsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonnavnBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentPersonnavnBolkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonnavnBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentPersonnavnBolkResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSikkerhetstiltak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentSikkerhetstiltakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSikkerhetstiltakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentSikkerhetstiltakResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSikkerhetstiltakpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentKjerneinformasjonRequest">
    <wsdl:part name="parameters" element="tns:hentKjerneinformasjon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSikkerhetstiltakRequest">
    <wsdl:part name="parameters" element="tns:hentSikkerhetstiltak">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKjerneinformasjon_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentKjerneinformasjonpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonnavnBolkResponse">
    <wsdl:part name="parameters" element="tns:hentPersonnavnBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKjerneinformasjonResponse">
    <wsdl:part name="parameters" element="tns:hentKjerneinformasjonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSikkerhetstiltakResponse">
    <wsdl:part name="parameters" element="tns:hentSikkerhetstiltakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKjerneinformasjon_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentKjerneinformasjonsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentSikkerhetstiltak_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:hentSikkerhetstiltakpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonnavnBolkRequest">
    <wsdl:part name="parameters" element="tns:hentPersonnavnBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Person_v2">
    <wsdl:operation name="hentKjerneinformasjon">
      <wsdl:input message="tns:hentKjerneinformasjonRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentKjerneinformasjonResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentKjerneinformasjon_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentKjerneinformasjon_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentPersonnavnBolk">
      <wsdl:input message="tns:hentPersonnavnBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentPersonnavnBolkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentSikkerhetstiltak">
      <wsdl:input message="tns:hentSikkerhetstiltakRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentSikkerhetstiltakResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:hentSikkerhetstiltak_personIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
